<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#!/project">Project</a>
            <a class="nav-item nav-link" href="#!/projectDetails">Project Details</a>
            <a class="nav-item nav-link" href="#!/resources">Resources</a>
            <a class="nav-item active nav-link" href="#!/costs">Costs<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#!/login">Logout</a></p>
        </div>
    </div>
</nav>