<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#!/profile"><span class="fa fa-home"></span>Profile</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item active nav-link" href="#!/portfolios">Portfolios<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#!/wallets">Wallets</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#!/login">Logout</a></p>
        </div>
    </div>
</nav>

<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            <h2>Add a portfolio</h2>
            <form name="form" class="form" role="form" ng-submit='vm.addPortfolio()'>
                <div class="form-group" ng-class="{ 'has-error': form.id.$dirty && form.id.$error.required }">
                    <label for="id"><b>ID</b></label>
                    <input type="text" name="id" id="id" class="form-control" ng-model="vm.portfolio.id" ng-readonly="true">
                    <span ng-show="form.id.$dirty && form.id.$error.required" class="help-block">ID is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.portfolioName.$dirty && form.portfolioName.$error.required }">
                    <label for="portfolioName"><b>Name</b></label>
                    <input type="text" name="portfolioName" id="portfolioName" class="form-control" ng-model="vm.portfolio.portfolioName" required>
                    <span ng-show="form.portfolioName.$dirty && form.portfolioName.$error.required" class="help-block">Name is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                    <label for="description"><b>Description</b></label>
                    <input type="text" name="description" id="description" class="form-control" ng-model="vm.portfolio.description" required>
                    <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Description is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.issueDate.$dirty && form.issueDate.$error.required }">
                    <label for="issueDate"><b>Issue Date</b></label>
                    <input type="date" name="issueDate" id="issueDate" class="form-control" ng-model="vm.portfolio.issueDate" required>
                    <span ng-show="form.issueDate.$dirty && form.issueDate.$error.required" class="help-block">Issue date is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Submit</button>
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" ng-click="vm.updatePortfolio()" class="btn btn-primary">Update</button>
                    <button type="submit" ng-click="vm.clearFields()" class="btn btn-primary">Clear</button>
                </div>
            </form>
        </div>

        <div class="col-xs-12 col-lg-6">
            <h2 class="portfolio-section-header">Portfolios</h2>
            <div class='portfolios'>
                <div class='portfolio' ng-repeat="portfolio in vm.portfolios">
                    <div class="row portfolio-heading">
                        <div class="col-md-4">Portfolio# {{ portfolio.id }}</div>
                        <div class="col-md-8"><span class="portfolio-name">Name: {{ portfolio.portfolioName }}</span></div>
                    </div> <!-- /row -heading- -->
                    <div class="row portfolio-body">
                        <div class="col-md-4">ID: {{ portfolio.id }}</div>
                        <div class="col-md-8">Description: {{ portfolio.description }}</div>
                    </div> <!-- /row -body- -->
                    <div class="row portfolio-footer">
                        <div class="col-md-1"><br /><span class="portfolio-delete fa fa-trash-o" ng-click="vm.deletePortfolio(portfolio)"></span></div>
                        <div class="col-md-1"><br /><span class="portfolio-resolve fa fa-check" ng-click="vm.populateForm(portfolio)"></span></div>
                        <div class="col-md-2"><br /><span class="portfolio-archive fa fa-archive" ng-click="portfolioProjects()"></span></div>
                        <div class="col issue-date"><br />
                            Issue Date: {{ portfolio.issueDate }}
                        </div> <!-- /row -footer- -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /row -->
    <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>
</div>