<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#!/profile"><span class="fa fa-home"></span>Profile</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item active nav-link" href="#!/portfolios">Portfolios<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#!/wallets">Wallets</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#!/login">Logout</a></p>
        </div>
    </div>
</nav>

<div class="container-fluid content" ng-controller="PortfolioController">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <h2 class="portfolio-section-header">Portfolios</h2>
            <div class='portfolios'>
                <div class='portfolio' ng-repeat="portfolio in vm.portfolios">
                    <div class="row portfolio-heading">
                        <div class="col-md-4">Portfolio# {{ portfolio.id }}</div>
                        <div class="col-md-8"><span class="portfolio-name">Name: {{ portfolio.portfolioName }}</span></div>
                    </div> <!-- /row -heading- -->
                    <div class="row ticket-body">
                        <div class="col-md-4">ID: {{ portfolio.id }}</div>
                        <div class="col-md-8">Description: {{ portfolio.description }}</div>
                    </div> <!-- /row -body- -->
                    <div class="row portfolio-footer">
                        <div class="col-md-1"><br /><span class="portfolio-delete fa fa-trash-o" ng-click="deletePortfolio(portfolio)"></span></div>
                        <div class="col-md-2"><br /><span class="portfolio-archive fa fa-archive" ng-click="portfolioProjects(portfolio)"></span></div>
                        <div class="col">
                            Issue Date:
                            <br />
                            {{ portfolio.issueDate }}
                        </div> <!-- /row -footer- -->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /row -->
</div>