a {
    cursor: pointer;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.jumbotron {
    height: 100vh;
    margin-bottom: -20px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.portfolio, .wallet, .project, form {
    padding: .5rem;
    margin: 1rem 0;
    background: #fff;
    font-size: 1em;
    line-height: 1.3em;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #fff, 2px 2px 6px 3px rgba(10, 10, 0, 0.5);
    font-weight: 500;
}

.portfolio > .row {
    padding: 5px;
}

.wallet > .row {
    padding: 5px;
}

.project > .row {
    padding: 5px;
}

.fa {
    cursor: pointer;
    font-size: 1.3em;
    margin: -10px 0 0 0;
}

.content {
    padding: 2rem;
    max-width: 1440px;
}

.buttons {
    margin-top: 28px;
    margin-left: inherit
}

.btn-link {
    margin-right: 50px;
}

.open-dialog {
    border-radius: 3px;
    margin: 10px
}

.confirmation-dialog {
    display: none;
}

.help-block {
    color: red;
}

.login {
    margin-left: 350px;
}

.allocated-money {
    margin-left: 52px;
}

.btn-lg {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.inputFile {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.avatar {
    border-radius: 50%;
}

.issue-date {
    margin-left: 143px;
}

.good {
    box-shadow: inset 0 -2px 0 #6ba3bc;
    background: #b7e0f4 !important
}

.hot {
    margin-left: 100px;
    margin-top: 20px;
}

.hottie {
    margin-left: 50px;
    margin-top : 20px;
}